{% include "header.html" %}
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1619431843897-4676bff0c286?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Oops</h1>
            <span class="subheading"> Seems you don't have permission to access this page. Go <a style="color:blue;" href="{{url_for('get_all_posts')}}">home</a>?</span>
          </div>
        </div>
      </div>
    </div>
</header>

{% include "footer.html" %}